.black {
  background-color: black;
}

.white {
  background-color: white;
}

.var-color {
  color: #069db1;
  font-family: "Source Code Pro", monospace;
}

.dec-color {
  color: #0059ff;
  font-family: "Source Code Pro", monospace;
}

.string-color {
  color: coral;
  font-family: "Source Code Pro", monospace;
}

.comment {
  color: palegreen;
  font-family: "Source Code Pro", monospace;
}

.method {
  color: #ffff57;
  font-family: "Source Code Pro", monospace;
}

.html {
  color: grey;
}

.var-highlight {
  color: #C0AD60;
}

.string-highlight {
  color: rgba(253, 149, 90, 0.8);
}

.code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 80vw;
  max-width: 80vw;
  background-color: black;
}

#console-log {
  color: black;
}

#console-log .comment {
  color: green;
}

#typewriter {
  font-size: 1.5em;
  margin: 0;
  font-family: "Source Code Pro", monospace;
  color: #e2e2e2;
}

#typewriter:after {
  content: "|";
  -webkit-animation: blink 500ms linear infinite alternate;
          animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.carousel-container {
  position: relative;
  height: 300px;
  width: 600px;
  top: 60px;
  left: calc(50% - 300px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  -webkit-box-shadow: -1rem 0 3rem #000;
          box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: #009ad9;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(65%, #ffff57), to(white));
  background: linear-gradient(90deg, black 0%, #ffff57 65%, white 100%);
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

body, html {
  scroll-behavior: smooth;
  height: 100%;
  background-color: black;
  min-height: 80px;
}

.parallax {
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.down {
  margin: auto;
  position: absolute;
  bottom: 0%;
  margin-bottom: 1em;
  font-size: 2rem;
}

.icon-top {
  position: fixed;
  top: 0;
  right: 0;
}

.icon-top .icon {
  margin: 1vh;
  font-size: 1.5em;
  color: white;
}

.icon-top i {
  z-index: 1;
  color: white;
  font-size: 24px;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-bar {
  width: 50px;
  /* Set a specific width */
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.icon-bar a {
  display: block;
  /* Make the links appear below each other instead of side-by-side */
  text-align: center;
  /* Center-align text */
  padding: 16px;
  /* Add some padding */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /* Add transition for hover effects */
  color: white;
  /* White text color */
  font-size: 16px;
  /* Increased font-size */
}

@media only screen and (max-device-width: 768px) {
  .icon-bar {
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: auto;
  }
  .icon-bar a {
    display: inline-block;
  }
}

.icon-bar a:hover {
  background-color: #000;
  /* Add a hover color */
}

.active {
  background-color: #4CAF50;
  /* Add an active/current color */
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("images/crater-bw.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/crater-bw.jpg");
}

#head-shot {
  border: #181b1b 1em solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 40vw;
  max-height: 80vh;
  position: absolute;
  left: 20%;
  top: 113%;
  z-index: 1;
}

.full-block {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: absolute;
  height: 100vh;
  width: 33vh;
  margin-left: 8vh;
  z-index: -1;
  background-color: white;
}

.vert-text {
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  position: relative;
  top: 30%;
}

.vert-text span {
  color: #C0AD60;
}

#about-left {
  height: auto;
}

@media only screen and (max-device-width: 768px) {
  #about-left {
    display: none;
  }
}

#about-text {
  padding: 0.5em;
  margin-top: 15vh;
  border-width: 1em;
  border-style: solid;
  -o-border-image: linear-gradient(to bottom, #C0AD60, rgba(0, 0, 0, 0)) 1 100%;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#C0AD60), to(rgba(0, 0, 0, 0))) 1 100%;
     border-image: linear-gradient(to bottom, #C0AD60, rgba(0, 0, 0, 0)) 1 100%;
}

#about-text-left {
  padding: 0.5em;
  margin-top: 28vh;
  border-width: 1em;
  border-style: solid;
  margin-left: 8vh;
  -o-border-image: linear-gradient(to bottom, #C0AD60, rgba(0, 0, 0, 0)) 1 100%;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#C0AD60), to(rgba(0, 0, 0, 0))) 1 100%;
     border-image: linear-gradient(to bottom, #C0AD60, rgba(0, 0, 0, 0)) 1 100%;
}

#portfolio {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("images/beach.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/beach.jpg");
}

.center {
  position: relative;
  top: 12%;
  left: 45%;
  font-size: 3em;
  color: white;
}

#carousel-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  top: 25%;
}

#carousel-buttons button {
  height: 1em;
  margin: 1em;
  border: solid #C0AD60 2px;
  border-radius: 0px;
  background-color: transparent;
  -webkit-transition: border .5s;
  transition: border .5s;
}

#carousel-buttons button:hover {
  border: solid #C0AD60 6px;
  opacity: .5;
  -webkit-transition: ease-in .5s;
  transition: ease-in .5s;
  -webkit-transition: ease-out .5s;
  transition: ease-out .5s;
}

#carousel-buttons button:focus {
  background-color: white;
}

#project-image {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white 0%;
  padding: 4vh;
  margin: auto;
  max-width: 100vh;
  border: 1em double #C0AD60;
  position: relative;
  top: 25%;
}

#project-image img {
  position: relative;
  margin: auto;
  max-height: 50vh;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#project-image img:hover {
  opacity: 0.6;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

#forms {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("images/sea-tower-bw.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/sea-tower-bw.jpg");
}

#forms form {
  margin: auto;
  padding: 3rem;
  position: relative;
  top: 25%;
  width: 50vw;
}

.feild .input textarea {
  opacity: .8;
}
/*# sourceMappingURL=style.css.map */