$black: black;
$white: white;
$codeFont: 'Source Code Pro', monospace;

body, html {
    height: 100vh;
}
  
.parallax {

/* Full height */
height: 100vh;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}



/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

// Top icons
.icon-top {
    position: fixed;
    top: 0;
    right: 0;
    .icon {
        margin: 5px 5px 0px 5px;
    }
    i {
        color: white;
        font-size: 24px;
    }
}

// Icon Bar
.icon-bar {
    width: 50px; /* Set a specific width */
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
}
  
.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 16px; /* Increased font-size */
}
  
.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}
  
.active {
    background-color: #4CAF50; /* Add an active/current color */
}

// code colors
.var-color {
    color: rgb(6, 157, 177);
    font-family: $codeFont;
}

.dec-color {
    color: rgb(0, 89, 255);
    font-family: $codeFont;
}

.string-color {
    color: coral;
    font-family: $codeFont;
}

.comment {
    color: palegreen;
    font-family: $codeFont;
}

.method {
	color: rgb(255, 255, 87);
    font-family: $codeFont;
}

.html {
    color: grey;
    // font-family: $codeFont;
}

// styles for typewriter effect
.var-highlight{
    color: #C0AD60;
}
.string-highlight{
    color: rgba(253, 149, 90, 0.8);
}

.code {
    display: flex;
    justify-content: center;
    align-items: center;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 80vw;
    max-width: 80vw;
}

#console-log {
	color: black;
	.comment {
		color: green;
	}
}

#typewriter{
        font-size: 1.5em;
        margin: 0;
        font-family: $codeFont;
        color: rgb(226, 226, 226);
        background: #0a0a0a;

        &:after{
            content: "|";
            animation: blink 500ms linear infinite alternate;
        }
}

@-webkit-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@-moz-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.about-left {
    height: 100vh;
    background-color: darkslategrey;
}