@import 'colors';
@import 'typewriter';
@import 'carousel';

body, html {
    scroll-behavior: smooth;
    height: 100%;
    background-color: black;
    min-height: 80px;
}
  
.parallax {

/* Full height */
height: 100%;
// margin-bottom: 10px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
}

.down {
    margin: auto;
    position: absolute;
    bottom: 0%;
    margin-bottom: 1em;
    font-size: 2rem;
}

// Top icons
.icon-top {
    position: fixed;
    top: 0;
    right: 0;
    .icon {
        margin: 1vh;
        font-size: 1.5em;
        color: white;
        a {
            color: white !important;
        }
    }
    i {
        z-index: 1;
        color: white;
        font-size: 24px;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Icon Bar
.icon-bar {
    width: 50px; /* Set a specific width */
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}
  
.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 16px; /* Increased font-size */
}

@media only screen and (max-device-width: 768px) {
    .icon-bar {
        float: left;
        display: flex;
        top: auto;
    }
    
    .icon-bar a {
        display: inline-block;
    }
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}
  
.active {
    background-color: #4CAF50; /* Add an active/current color */
}

#about {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/crater-bw.jpg");
}

#head-shot {
    border: rgb(24, 27, 27) 1em solid;
    justify-content: center;
    max-width: 40vw;
    max-height: 80vh;
    position: absolute;
    left: 20%;
    top: 113%;
    z-index: 1;
}

.full-block {
    align-self: flex-start;
    position: absolute;
    height: 100vh;
    width: 33vh;
    margin-left: 8vh;
    z-index: -1;
    background-color: white;
}

.vert-text {
    writing-mode: tb-rl;
    position: relative;
    top: 20%;
    span {
        color: #C0AD60;
    }
}

#about-left {
    height: auto;
}

@media only screen and (max-device-width: 768px) {
    #about-left {
        display: none;
    }
}

#about-text {
    padding: 0.5em;
    margin-top: 15vh;
    border-width: 1em;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        #C0AD60, 
        rgba(0, 0, 0, 0)
      ) 1 100%;
}

#about-text-left {
    padding: 0.5em;
    margin-top: 28vh;
    border-width: 1em;
    border-style: solid;
    margin-left: 8vh;
    border-image: 
      linear-gradient(
        to bottom, 
        #C0AD60, 
        rgba(0, 0, 0, 0)
      ) 1 100%;
}
#portfolio {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/beach.jpg");
}

.center {
    position: relative;
    top: 12%;
    left: 45%;
    font-size: 3em;
    color: white;
}

#carousel-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 25%;
    button {
        height: 1em;
        margin: 1em;
        border: solid #C0AD60 2px;
        border-radius: 0px;
        background-color: transparent;
        transition: border .5s;
    }
    button:hover {
        border: solid #C0AD60 6px;
        opacity: .5;
        transition: ease-in .5s;
        transition: ease-out .5s;
    }
    button:focus {
        background-color: white;
    }
}

#project-image {
    width: fit-content;
    background-color: white 0%;
    padding: 4vh;
    margin: auto;
    max-width: 100vh;
    border: 1em double #C0AD60;
    position: relative;
    top: 25%;
    
    img {
        position: relative;
        margin: auto;
        max-height: 50vh;
        opacity: 1;
        transition: opacity 1s;
    }
    img:hover {
        opacity: 0.6;
        transition: ease 1s;
    }
}

#forms{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/sea-tower-bw.jpg");
    form {
        margin: auto;
        padding: 3rem;
        position: relative;
        top: 25%;
        width: 50vw;
    }
}

.feild {
    .input {
        background-color: opacity($color: white, .8);
        
    }
}